PORT=3000
NODE_ENV=development
LOGS_PATH=logs/access.log
# Para PostgreSQL (produção):
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pw_tp2?schema=public"
# Para SQLite (desenvolvimento):
DATABASE_URL="file:./dev.db"