<h1>Sobre o jogo</h1>

<p>
    Este jogo foi desenvolvido para a disciplina de Programação Web.
    É um hoquei de mesa com powerups =)
</p>

<img src="/img/william.jpeg" width="400">

<br><br>

<img src="/img/Thorfinn.jpeg" width="250">
